.App {
  text-align: center;
  margin: 100px auto;
}

.container {
  background-color: mediumpurple;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 10px;
  background-color: blueviolet;
  color: white;
}

button {
  padding: 5px 10px;
  border-radius: 50%;
  border-color: #fff;
}

p {
  color: white;
}
